<template>
    <section class="au-animate">
        <h2>${user.display_name}' shopping list</h2>

        <div class="row">
            <div class="col-md-3 col-md-offset-6">
                Share this shop lists with your friends
            </div>
            <div class="col-md-3"><a href="${share_url}">${share_url}</a></div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-xs-6 col-md-6" click.trigger="clickSort('description')">Description
                        <i class="fa fa-arrow-up" if.bind="sort_field == 'description' && sort_direction == 'ascending'"></i>
                        <i class="fa fa-arrow-down"if.bind="sort_field == 'description' && sort_direction == 'descending'"></i>
                    </th>
                    <th class="col-xs-4 col-md-2" click.trigger="clickSort('created')">Created
                        <i class="fa fa-arrow-up" if.bind="sort_field == 'created' && sort_direction == 'ascending'"></i>
                        <i class="fa fa-arrow-down"if.bind="sort_field == 'created' && sort_direction == 'descending'"></i>
                    </th>
                    <th class="col-xs-2 col-md-1"></th>
                </tr>
            </thead>
            <tbody class="au-stagger shopping-list">
            <tr repeat.for="item of items" class="au-animate">
                <td>${item.description}</td>
                <td>${item.created}</td>
                <td>
                    <a if.bind="isOwned" href="javascript:void" click.trigger="editItem(item)"><i class="fa fa-2x fa-edit"></i></a>
                    <a if.bind="isOwned" href="javascript:void" click.trigger="deleteItem(item)"><i class="fa fa-2x fa-close"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

        <a if.bind="isOwned" href="javascript:void" click.trigger="addItem()"><i class="fa fa-2x fa-plus"></i></a>
    </section>
</template>