<template>
    <section class="au-animate">
        <h2>Documentation</h2>

        <h3>Overview</h3>
        <p>This is an application where users can create and modify shopping lists.</p>
        <p>The backend has been developed using <a href="https://nodejs.org">NodeJS</a>, and the fronted has been developed over <a href="http://aurelia.io/">Aurelia framework</a>.
        I selected this two technologies because I haven't any previous knowledge of them I used this project to learn them.</p>
        <p>I used WebSockets to communicate between client and server.</p>

        <h3>Requirements</h3>
        <p>In the server MUST be installed MySql and a user able to create a database.</p>

        <h3>Installation</h3>
        <p>
            I have provided two methods of deployment: bash scripting and Ansible.
        </p>

        <h4>
            Bash Script installation
        </h4>
        <p>It's pretty simple:</p>
        <ol>
            <li>Extract files from the zip file</li>
            <li>Update connection settings at <strong>server/config/database.js</strong></li>
            <li>Run <strong>setup.sh</strong>, this script will install NodeJs, NPM, JSPM.
                All of them are requirements for running the server.
                Also it will build the client, and create database (so it's important to complete previous step first!)
                As a bonus, it will run <strong>server/fixtures.js</strong> to populate database with 100 users and around 550 and 750 items</li>
        </ol>
        <p>
            <em>I needed to create a 1Gb swap file to be able of installing requirements.</em>
        </p>
        <h4>
            Ansible
        </h4>
        <p>
            Ansible is required, tested with v2.1.1.0.
        </p>
        <ol>
            <li>Extract files from the zip file</li>
            <li>Update database related variables on <em>deploy/vars/default.yml</em> to match your pre-existing database</li>
            <li>Change to <em>deploy</em> directory and run <strong>ansible-playbook deploy.yml -i inventory</strong></li>
        </ol>
        <p>
            After deployment, you should create the database with: <em>ansible-playbook create-database.yml -i invertory</em>
        </p>
        <p>
            Then you can populate database with fixtures: <em>ansible-playbook fixtures.yml -i invertory</em>
        </p>
        <p>
            At any time you can add more hosts to the application simply adding them to <em>deploy/inventory</em> file and
            running <strong>ansible-playbook deploy.yml -i inventory</strong>.
        </p>
        <p>
            If you have more than one host on inventory file, create-database.yml and fixtures.yml will not work, you will need
            to pass a new argument <em>--limit demo</em> because these playbooks are limited to be run on single node.
        </p>

        <h3>Run</h3>
        <p>Easy: <strong>cd server; node server.js</strong> <em>It will start the server on port 9900</em></p>
        <p>You can set custom port just with <strong>cd server;PORT=80 sudo node server.js</strong></p>
        <p>
            <em>Warning</em> previous method is fast and easy way to setup. Running with <em>sudo</em> is not recommended.
        </p>
        <p>
            On live instances, app is running on ubuntu user.
            I installed supervisor to keep app always running. I also redirected port 80 to 9900,
            <em>sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 9900</em> and server
            is running on port 9900: <strong>PORT=9900 node /home/ubuntu/RaulFerriz/server.js</strong>
        </p>

        <h3>Testing</h3>
        <p>
            Live instances are provided with some random data.
            You can login with existing users. For example if user is John Smith, the email of the user will be
            <em>john.smith@email.com</em> and password will be <em>john.smith</em>. Same with Zoe Griffin (<em>zoe.griffin@email.com</em> / <em>zoe.griffin</em>)
            or any other user created by fixtures of the app.
            You can find a selection of random users on Welcome page if you want to log in with them.
        </p>

        <h3>Architecture</h3>
        <p>
            I have used Command Query System (over WebSockets), where clients send commands to the server and the server is responsible
            to check if the command is valid on given content, apply changes and notify the clients with a response. Most of the
            responses are required to be sent to all connected clients in order to propagate changes in realtime to every connected user through channels.
        </p>

        <p>Commands/Requests sent from client to server</p>
        <ul>
            <li><strong>authenticate</strong> To upgrade an anonymous connection to a indentified one.</li>
            <li><strong>me</strong> Request information about themselves (just for identified connections)</li>
            <li><strong>enter-dashboard</strong> Subscribe to <em>dashboard</em> channel</li>
            <li><strong>leave-dashboard</strong> Leave <em>dashboard</em> channel</li>
            <li><strong>random-listing</strong> Request some random shop listings (must be subscribed on <em>dashboard</em>)</li>
            <li><strong>enter-shop-listing</strong> Subscribe to <em>#shop-listing</em> channel</li>
            <li><strong>leave-shop-listing</strong> Leave <em>#shop-listing</em> channel</li>
            <li><strong>add-item</strong> Add item to user shopping list. Must be subscribed to <em>#shop-listing</em></li>
            <li><strong>update-item</strong> Update item on user shopping list. Must be subscribed to <em>#shop-listing</em></li>
            <li><strong>delete-item</strong> Delete item from user shopping list. Must be subscribed to <em>#shop-listing</em></li>
        </ul>
        <p>
            With the exception of <strong>me</strong> message, all previous messages requires some information on the payload.
            If any client try an operation that it's not authorized to do, server will respond with a <strong>not-authenticated</strong>.
            The server checks that current user owns the cart before applying the modification. If the user doesn't own
            the shopping list, server will do nothing and not send any error message to client.
        </p>

        <p>Messages sent from server to client</p>
        <ul>
            <li><strong>not-authenticated</strong> Sent when authentication failure and when connection start, to allow automatic recovery when connections are lost</li>
            <li><strong>authenticated</strong> Authentication success, user_id included on payload.</li>
            <li><strong>me</strong> Information about current user, includes display_name and email.</li>
            <li><strong>dashboard</strong> Information statistics about total registered users, total shopping lists with items and total items.</li>
            <li><strong>random-shop-listing</strong> Random shop listings to be displayed on welcome page.</li>
            <li><strong>shop-listing</strong> Full shopping list of request user, it also includes shopping list owner's display_name</li>
            <li><strong>item-added</strong> New item added to shopping list, item data in the payload</li>
            <li><strong>item-updated</strong> Existing item has been updated, item data in the payload</li>
            <li><strong>item-deleted</strong> Existing item has been deleted, item id in the payload</li>
            <li><strong>error</strong> Error message.</li>
        </ul>

        <p>
            Most of the messages sent to client are just to the caller, or just to a channel (dashboard or number of shop-listing).
        </p>
        <p>
            When a client enter on the dashboard, server sends dashboard message to client. And will start to receive
            <em>dashboard</em> and <em>random-shop-listing</em>.
        </p>
        <p>
            Every second server will emit <em>dashboard</em> event to all clients connected to <strong>dashboard</strong>
            channel.
        </p>
        <p>
            When a client enter on a shop-listing, server sends a shop-listing message to client with shopping list
            information. Once client has entered shop-listing channel, and will start to receive item-added, item-updated,
            item-deleted on the subscribed shop-listing.
        </p>

        <h3>Client</h3>
        <p>
            It was developed on Aurelia. It's a Single Page Application, first time a user opens the page can be a bit
            heavy, but once loaded, application usage is instant and user experience is very fast.
            Page is quite usable, but effects can be improved a lot. I consider myself a quite sober person and of
            course, the look of the client can be improved a lot. I need the help of other people to desing an awesome
            looking web page.
        </p>

        <h3>Server</h3>
        <p>
            It has been developed on NodeJs, using Socket.io to handle WebSocket connections. It has CORS installed and configured.
        </p>
        <p>
            I have split in two "apps", one for regular HTTP requests just for serving the client, login and signup.
            The other app handles the heavy logic of the application through WebSocket.
        </p>
        <p>
            When user connects to page, a WebSocket connection will be open to the server. This connection will be used to
            share information about shopping lists and share other data. This type of connection can request information
            about shopping lists, random shop listing and dashboard stats, but nothing more.
       </p>
        <p>
            When a client logs in or sign up, the existing WebSocket connection is upgraded to a user identified WebSocket
            Session. In order to accomplish this, the client sends to the server the Access_Token that server has previously
            sent to client. Server checks that Access_Token is valid, and then notify the client with an 'authorized' message.
        </p>
        <p>
            At this time, the client can send commands to manage their shopping list or get information about themselves.
        </p>

        <h4>Some whistles</h4>
        <p>
            When user reconnects after losing it's connection, may be because a network failure, client re-authenticate
            itself over WebSocket and user experience will not suffer because user do not need to reload the page.
        </p>

        <h4>Bonus features</h4>
        <p>
            On the welcome page, I display some random shopping lists, only shop listing owner name and total items on
            shopping lists are displayed.
            When user clicks on the box it's redirected to that user shop listing.
        </p>
        <p>
            Fancy validation messages on login & signup forms.
        </p>

        <h4>What's missing</h4>
        <p>
            Remember-me hasn't been completed because Aurelia authorization system doesn't include any remember-me system. But as it's Open Source, it's easy
            to just implement remember-me feature, extending login method on Authorization class to allow other parameter and send arbitrary fields on the
            login request. On the server-side it's quite easy, if the remember-me parameter is received and enabled, just setup a cookie with a two weeks lifetime .
            Install and configure passport-remember-me module on server.js to handle the cookie when received and refresh it.
            Of course there should be tested before deploy, as there may cause some undetected problems.
        </p>
        <p>
            <em>Optional feature of displaying number of users seeing a single cart hasn't been done.</em>
        </p>

    </section>
</template>