<template>
    <section class="au-animate col-md-offset-3 col-md-6">
        <h2>${title}</h2>
        <form role="form" submit.delegate="login()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" value.bind="email & validate" class="form-control" id="email" placeholder="Email" tabindex="1">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" value.bind="password & validate" class="form-control" id="password" placeholder="Password" tabindex="2">
            </div>

            <div class="form-group col-xs-12">
                <div class="col-md-offset-3 col-md-3 col-xs-12">
                    <label for="password" class="hidden"><input type="checkbox" value.bind="remember_me" id="remember_me" tabindex="3"> Remember me</label>
                </div>
                <div class="col-md-3 col-xs-12">
                    <p class="text-center text-muted">
                        <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
                    </p>
                </div>
            </div>


            <button type="submit" class="btn btn-default" tabindex="4">Login</button>
        </form>
        <hr>
        <div class="alert alert-danger" if.bind="loginError">${loginError}</div>
    </section>
</template>