<template bindable="router">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#skeleton-navigation-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-image" href="#" style="height: 20px;"><span> </span></a>
            <a class="navbar-brand" href="#">
                <span>${router.title}</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="skeleton-navigation-navbar-collapse">
            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                    <a data-toggle="collapse" data-target="#skeleton-navigation-navbar-collapse.in"
                       href.bind="row.href">${row.title}</a>
                </li>
            </ul>
            <ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="collapse" data-target="#skeleton-navigation-navbar-collapse.in" href="/#/login">Login</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#skeleton-navigation-navbar-collapse.in" href="/#/signup">Signup</a>
                </li>
            </ul>
            <ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="collapse" data-target="#skeleton-navigation-navbar-collapse.in" href="/#/shop-list">Cart</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#skeleton-navigation-navbar-collapse.in" href="/#/logout">Logout</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" if.bind="router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>
        </div>
    </nav>
</template>
