<template>
    <section class="au-animate col-md-offset-3 col-md-6">
        <h2>${title}</h2>
        <form role="form" submit.delegate="signup()">
            <div class="form-group">
                <label for="name">Display Name</label>
                <input type="text" value.bind="name & validate" class="form-control" id="name" placeholder="Display name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" value.bind="email & validate" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" value.bind="password & validate" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Signup</button>
        </form>
        <hr>
        <div class="alert alert-danger" if.bind="signupError">${signupError}</div>
    </section>
</template>