<template>
    <section class="au-animate">
        <h2>${heading}</h2>
        <div class="row au-stagger">
            <div class="col-sm-6 col-md-4 card-container au-animate">
                <div class="card">
                    <div class="avatar"><i class="fa fa-5x fa-users"></i></div>
                    <div class="content">
                        <p class="name">${dashboard.users} users registered</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 card-container au-animate">
                <div class="card">
                    <div class="avatar"><i class="fa fa-5x fa-list"></i></div>
                    <div class="content">
                        <p class="name">${dashboard.items} total shopping items</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 card-container au-animate">
                <div class="card">
                    <div class="avatar"><i class="fa fa-5x fa-archive"></i></div>
                    <div class="content">
                        <p class="name">${dashboard.carts} shopping lists with items</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="panel panel-default bootcards-summary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Random shopping lists</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4  card-container au-animate" repeat.for="shoplist of random">
                                <a route-href="route: shoplist; params.bind: {id:shoplist.user_id}">
                                <div class="card">
                                    <div class="avatar">
                                        <i class="fa fa-3x fa-archive"></i>&nbsp;
                                        <span class="label label-info">${shoplist.TotalItems}</span>&nbsp;<span class="name">items</span>
                                    </div>
                                    <div class="content">
                                        <h4 class="name">${shoplist.displayName}</h4>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
