[program:{{ app_name }}]
command=node {{ deploy_api_dir }}/server.js
autostart=true
autorestart=true
environment=PORT=9900
stderr_logfile=/var/log/gh.err.log
stdout_logfile=/var/log/gh.out.log
user=ubuntu
