<template>
    <ai-dialog>
        <ai-dialog-header>${question}</ai-dialog-header>

        <ai-dialog-body>
            <form submit.trigger="controller.ok(answer)">
                <input type="text" value.bind="answer" style="width: 100%; line-height: 16px; font-size: 16px" attach-focus="true">
            </form>
        </ai-dialog-body>

        <ai-dialog-footer>
            <button click.trigger="controller.cancel()">Cancel</button>
            <button click.trigger="controller.ok(answer)">Ok</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>
